.route-enter{
  opacity: 0;
  transform: translateX(200px);
}

.route-enter-active{
  transition: all 0.5s ease-out;
}

.route-leave-to{
  opacity: 0;
  transform: translateX(-200px);
}

.route-leave-active{
  transition: all 0.5s ease-in;
}


/* transition list */
.list-enter-active{
  transition: all 1s;
}
.list-leave-active {
  transition: all 1s;
  position:absolute;
}
.list-enter, .list-leave-to
/* .list-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-50px);
}
.list-move {
  transition: all 0.3s ease;
}

/* transition bounce  */
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/** transition slide */
.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter {
  transform: translateY(100px);
  opacity: 0;
}
.slide-fade-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}

/** transition slide */
.slide-fade2-enter-active {
  transition: all 1s ease;
}
.slide-fade2-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade2-enter {
  transform: translateY(150px);
  opacity: 0;
}
.slide-fade2-leave-to {
  transform: translateY(150px);
  opacity: 0;
}

/** transition fade */
.fade-enter-active {
  transition: opacity 2s;
}
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.scale-enter-active,
.scale-leave-active {
  transition: 0.3s ease-in-out;
}

.scale-enter-from {
  opacity: 0;
  scale: 0.8;
  /* transform: translateX(-30%); */
}

.scale-leave-to {
  opacity: 0;
  scale: 0.8;
  /* transform: translateX(30%); */
}

.scale-enter-to,
.scale-leave-from {
  opacity: 1;
  scale: 1;
  /* transform: translateX(0); */
}